<%= form_for @player, url: players_path(player.id) do |f| %>
<%= f.text_field :nickname %><br/>
<%= f.text_field :rank %><br/>
<%= f.text_field :charisma %><br/>
<%= f.text_field :wisdom %><br/>
<%= f.submit “Create” %>
<% end %>