<% if @players == [] %>
<p>Create Players</p>
<%else %>
<% @players.each do |player| %>
<p>Nickname: <b> <%= player.nickname %></br>
<%= player.rank %></br>
<%= player.charisma %></br>
<%= player.wisdom %></br>

<%= link_to “Read more”, player_path(player.id) %>

<% end %>
<% end %>
<%= link_to “Create”, new_player_path %>