<p>
nickname <%= @player.nickname %><br />
Player rank: <%= @player.rank%><br />
Player charisma: <%= @player.charisma %><br />
Player wisdom: <%= @player.wisdom %><br />

</p>
<p>
<%= link_to “Edit”, edit_player_path(@plater.id) %><br />
<%= link_to “Destroy”, player_path(@plater.id), method: :delete %><br />

</p>